---
import { type APISpaceX } from "../types/api"
import CardLaunch from "./CardLaunch.astro"

const URL = "https://api.spacexdata.com/v5/launches/query"

const response = await fetch(URL ,{
    method: "POST",
    headers: {
        "Content-Type": "application/json",
    },
    body: JSON.stringify({
        query: {},
        options: {
            sort: {
                date_unix: "asc",
            },
            limit: 12,
        },
    }),
})   
   
const {docs: launches} = (await response.json()) as APISpaceX


---

<div>
    <div class="mx-8 grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {
            launches.map(launch => (
                <CardLaunch 
                    id={launch.id}
                    img={launch.links.patch.small}
                    details={launch.details}
                    success={launch.success}
                    flightNumber={launch.flight_number}

                />
            ))
        }
    </div>
    <div class="mb-10 mt-8 flex justify-center">
        <button class="px-6 py-4 text-gray-300 bg-gray-800 hover:text-gray-50 hover:bg-gray-600 rounded-lg font-bold transition duration-300" type="button">
            Load more
        </button>
    </div>
</div>
